<div class="container">
    <h1 mat-dialog-title *ngIf="flag == 1" class="title">Dodaj novu vrstu proizvoda:</h1>
    <h1 mat-dialog-title *ngIf="flag == 2" class="title">Modifikuj vrstu proizvoda: {{data.VrstaProizvodaID}}</h1>
    <h1 mat-dialog-title *ngIf="flag == 3" class="title">Obriši vrstu proizvoda: {{data.VrstaProizvodaID}}</h1>

    <form class="mat-dialog-content" #form="ngForm">
        <div class="form mat-elevation-z8 col-lg-12">
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="data.NazivVrsteProizvoda" name="NazivVrsteProizvoda" 
                placeholder="NazivVrsteProizvoda" [disabled]="flag == 3">
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="col-lg-12">
            <div class="col-lg-6">
                <button mat-raised-button color="primary" *ngIf="flag == 1" [disabled]="!form.valid" (click)="add()">
                    Dodaj vrstu proizvoda
                </button>
                <button mat-raised-button color="primary" *ngIf="flag == 2" [disabled]="!form.valid" (click)="update()">
                    Modifikuj vrstu proizvoda
                </button>
                <button mat-raised-button color="primary" *ngIf="flag == 3" (click)="delete()">
                    Obriši vrstu proizvoda
                </button>
            </div>
            <div class="col-lg-6">
                <button mat-raised-button color="warn" (click)="cancle()">Poništi</button>
            </div>
        </div>

    </form>
</div>


