<mat-toolbar class="example-toolbar mat-elevation-z8 sticky-top">
    <span>
        <a href="home"><img src="/assets/Images/icon.jpg" class="example-img"></a>
        Online kozmetika!
    </span>
    <div class="flex"></div>
    <p class="example-p">{{korisnik.Username}}</p>
    <button mat-raised-button color="warn" (click)="Logout()">Log out</button>
</mat-toolbar>

<div class="example-div">
    <div class="example-container container">
        <h1 style="position: relative; top: 99px; color: white;" *ngIf="proizvodCena != null">Cena: {{proizvodCena}},00 RSD</h1>
        <h1 style="position: relative; top: 99px; color: white;" *ngIf="proizvodCena == null">Cena: 0,00 RSD</h1>
        <div style="position: absolute; top: 81px; left: 1149px; width: 159px;">
          <mat-form-field style="background-color: red; border-radius: 5px; padding: 5px;">
            <mat-label style="color: white;">Izaberite način plaćanja</mat-label>
            <mat-select name="Placanje">
              <mat-option value="Kartica">Kartica</mat-option>
              <mat-option value="Gotovina">Gotovina</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="example-table">
  
          <ng-container matColumnDef="ProizvodID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ProizvodID</th>
            <td mat-cell *matCellDef="let row">{{row.ProizvodID}}</td>
          </ng-container>
  
          <ng-container matColumnDef="NazivProizvoda">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NazivProizvoda</th>
            <td mat-cell *matCellDef="let row">
              <div *ngFor="let p of proizvod">
                <p *ngIf="p.ProizvodID == row.ProizvodID" style="margin-top: 7px;">{{p.NazivProizvoda}}</p>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Opis">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis</th>
            <td mat-cell *matCellDef="let row">
              <div *ngFor="let p of proizvod">
                <p *ngIf="p.ProizvodID == row.ProizvodID" style="margin-top: 7px;">{{p.Opis}}</p>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Cena">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
            <td mat-cell *matCellDef="let row">
              <div *ngFor="let p of proizvod">
                <p *ngIf="p.ProizvodID == row.ProizvodID" style="margin-top: 7px;">{{p.Cena}}</p>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="KolicinaProizvoda">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>KolicinaProizvoda</th>
            <td mat-cell *matCellDef="let row">{{row.KolicinaProizvoda}}</td>
          </ng-container>
  
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>
              Brisanje
            </th>
            <td mat-cell *matCellDef="let row; let i=index">
              <button mat-raised-button style="background: red; margin-left: 84px;" 
              (click)="delete(row.ProizvodID, row.KolicinaProizvoda)">
                 <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        </table>
        <mat-form-field>
          <input matInput type="text" placeholder="Unesite komentar za porudzbinu" #Komentar ngModel>
        </mat-form-field>
        <button mat-raised-button color="warn" style="width: 100%; margin-bottom: 89px;" (click)="addPorudzbina(Komentar.value)"
        [disabled]="proizvodCena == null || proizvodCena == 0">
          Porudzbina
        </button>
    </div>
</div>

<footer class="example-footer">
    <div class="text-center">
      © 2020 Copyright:
      <a href="#"> Kozmetika.com</a>
    </div>
</footer>

<ngx-spinner
    bdColor = "rgba(0, 0, 0, 0.8)"
    size = "medium" 
    color = "#fff"
    type = "ball-fussion"
    >
    <p style="color: white" > Loading... </p>
</ngx-spinner>